  {% extends 'layout.html' %}
  {% load staticfiles %}
  {% load socialaccount %}

  {% block header %}
  <header id="header" class="header-scrolled">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" width="450px" alt=""
            title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/#intro">메인</a></li>
          <!-- <li><a href="#login">login</a></li> -->
          <li><a href="/#about">소개</a></li>
          <li><a href="/#gallery">공연</a></li>
          <!-- <li><a href="#venue">Venue</a></li> -->
          <li><a href="/#hotels">포춘티켓</a></li>
          <!-- <li><a href="#schedule">Schedule</a></li> -->
          <li><a href="/#supporters">후원</a></li>
          <li class="contact"><a href="/#contact">행운확인</a></li>
          <!-- <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  {% endblock header %}


  {% block content %}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">행운을 담은 <span>포춘티켓</span><br> 여러분이 그 행운의 주인공입니다.</h1>
      <p class="mb-4 pb-0">간편한 가입과 응모를 통해 행운의 결과를 열어보세요</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
        <h1>소셜 로그인을 해봐요!</h1> <a href = "/accounts/signup">회원가입</a><br> 
        {% if user.is_authenticated %}
          <a href = "/accounts/logout">로그아웃</a> {{user.username}} 님이 로그인중 
          {% else %}
          <a href="{% provider_login_url 'kakao' %}" class="login-btn scrollto">로그인 하러가기</a>
            <br> 로그인 하셔야 합니다.
            {% endif %}
    </div>
  </section>

  <main id="main">

    <!--==========================
      Login Section
    ============================-->
    <section id="login">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>로그인</h2>
            <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
              accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
              est ut optio sequi unde.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Downtown Conference Center, New York</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Monday to Wednesday<br>10-12 December</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>포춘티켓이란?</h2>
          <p>놀라운 가격으로 대한민국 최고의 공연을 빠르게 예매할 수 있는 행운의 티켓입니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{% static 'img/speakers/1.jpg' %}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="#">Brenden Legros</a></h3>
                <p>Quas alias incidunt</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>공연 리스트</h2>
          <p>대한민국 최고의 공연들이 포춘티켓과 함께합니다.</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <div class="speaker">
          <a href="{% static 'img/gallery/1.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/1.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

        <div class="speaker">
          <a href="{% static 'img/gallery/2.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/2.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

        <div class="speaker">
          <a href="{% static 'img/gallery/3.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/3.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

        <div class="speaker">
          <a href="{% static 'img/gallery/4.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/4.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

        <div class="speaker">
          <a href="{% static 'img/gallery/5.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/5.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

        <div class="speaker">
          <a href="{% static 'img/gallery/6.jpg' %}" class="venobox" data-gall="gallery-carousel">
            <img src="{% static 'img/gallery/6.jpg' %}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="{% url 'gallerydetail' %}">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
        </div>

      </div>

    </section>

    <!--==========================
      Hotels Section
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>포춘티켓 페이지</h2>
          <p>포춘티켓 응모가 가능한 공연들을 확인해 보세요.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/1.jpg' %}" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="{% url 'lottery' %}">공연 1</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>0.4 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/2.jpg' %}" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="{% url 'lottery' %}">공연 2</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full"></i>
              </div>
              <p>0.5 Mile from the Venue</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/3.jpg' %}" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="{% url 'lottery' %}">공연 3</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>0.6 Mile from the Venue</p>
            </div>
          </div>

        </div>
      </div>

    </section>

    <!--==========================
      Buy Ticket Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Buy Tickets</h2>
          <p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Standard Access</h5>
                <h6 class="card-price text-center">$150</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Community Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal"
                    data-ticket-type="standard-access">Buy Now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Pro Access</h5>
                <h6 class="card-price text-center">$250</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal"
                    data-ticket-type="pro-access">Buy Now</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Premium Access</h5>
                <h6 class="card-price text-center">$350</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Workshop Access</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>After Party</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal"
                    data-ticket-type="premium-access">Buy Now</button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal Order Form -->
      <div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Buy Tickets</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" action="#">
                <div class="form-group">
                  <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                </div>
                <div class="form-group">
                  <select id="ticket-type" name="ticket-type" class="form-control">
                    <option value="">-- Select Your Ticket Type --</option>
                    <option value="standard-access">Standard Access</option>
                    <option value="pro-access">Pro Access</option>
                    <option value="premium-access">Premium Access</option>
                  </select>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn">Buy Now</button>
                </div>
              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{% static 'img/supporters/8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>행운확인</h2>
          <p>여러분도 이 행운의 주인공이 될 수 있습니다.</p>
        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>
  {% endblock content %}
