{% extends 'layout.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% load qr_tags %}

{% block header %}
<header id="header" class="header-scrolled">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="logo" class="pull-left">
          <a href="/#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" width="300px" title=""></a>
        </div>
      </div>

      <div class="col-4" style="margin-left: 5%"">
        <!-- <nav id="nav-menu-container"> -->
          <ul class="nav-menu">
            <li class="menu-active"><a href="/#intro">메인</a></li>
            <!-- <li><a href="#login">login</a></li> -->
            <li><a href="/#about">소개</a></li>
            <li><a href="/#gallery">공연</a></li>
            <!-- <li><a href="#venue">Venue</a></li> -->
            <li><a href="/#hotels">포춘티켓</a></li>
            <!-- <li><a href="#schedule">Schedule</a></li> -->
            <li><a href="/#supporters">후원</a></li>
            <!-- <li class="contact"><a href="/#contact">행운확인</a></li> -->
            <!-- <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> -->
          </ul>
        <!-- </nav> -->
      </div>

      <div class="col">
        <!-- <nav id="nav-menu-container"> -->
          <ul class="nav-menu">
            <li class="nav-item dropdown" style="margin-left: 10%">
              {% if user.is_authenticated %}
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" class="rounded-circle" width="40px" height="40px" />
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} 님이 로그인 중</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><p>내정보</p></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/#contact"><p>행운확인</p></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accounts/logout"><p>로그아웃</p></a>
                  </div>
                {% else %}
                <li class="contact" style="margin-left: 20%"><a href="{% provider_login_url 'kakao' %}" class="login-btn scrollto">로그인 하러가기</a></li>
                {% endif %}
            </li>
          </ul>
      </div>
    </div>
  </div>
</header>
{% endblock header %}


{% block content %}

<!--==========================
  Intro Section
============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">행운을 담은 <span>포춘티켓</span><br> 여러분이 그 행운의 주인공입니다.</h1>
    <p class="mb-4 pb-0">간편한 로그인과 응모를 통해 행운의 결과를 열어보세요</p>
    <a href="https://www.youtube.com/embed/7T57kzGQGto" class="venobox play-btn mb-4" data-vbtype="video"
      data-autoplay="true"></a>
  </div>
</section>

<main id="main">

  <!--==========================
    About Section
  ============================-->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>포춘티켓이란?</h2>
        <p>놀라운 가격으로 대한민국 최고의 공연을 빠르게 예매할 수 있는 행운의 티켓입니다.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <div class="details">
              <h3><a href="#">Brenden Legros</a></h3>
              <p>Quas alias incidunt</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!--==========================
    Gallery Section
  ============================-->
  <section id="gallery" class="wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>모든 공연</h2>
        <p>대한민국 최고의 공연들이 포춘티켓과 함께합니다.</p>
      </div>
    </div>

    <div class="owl-carousel gallery-carousel">
      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565163592482.png" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565163592482.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">스쿨 오브 락</a></h3>
            <p>School Of Rock</p>
          </div>
      </div>

      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162187079.jpg" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162187079.jpg" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">캣츠</a></h3>
            <p>Cats</p>
          </div>
      </div>

      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162410656.png" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162410656.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">라이온 킹</a></h3>
            <p>Lion King</p>
          </div>
      </div>

      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162967203.jpg" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162967203.jpg" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">위키드</a></h3>
            <p>Wicked</p>
          </div>
      </div>

      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565163287216.png" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565163287216.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">맘마미아</a></h3>
            <p>Mammamia!</p>
          </div>
      </div>

      <div class="speaker">
        <a href="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162677592.png" class="venobox" data-gall="gallery-carousel">
          <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565162677592.png" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="{% url 'gallerydetail' %}">벤허</a></h3>
            <p>Ben-Her</p>
          </div>
      </div>

    </div>

  </section>

  <!--==========================
    Hotels Section
  ============================-->
  <section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>포춘티켓 공연</h2>
        <p>포춘티켓 응모가 가능한 공연들을 확인해 보세요.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565165939702.png" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="{% url 'lottery' %}">벤허</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="stars">
                <p>2019/08/09</p>
                </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565166237770.png" alt="Hotel 2" class="img-fluid">
            </div>
            <h3><a href="{% url 'lottery' %}">캣츠</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-full"></i>
            </div>
            <div class="stars">
                <p>2019/08/09</p>
                </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="https://soptserver.s3.ap-northeast-2.amazonaws.com/1565166379693.png" alt="Hotel 3" class="img-fluid">
            </div>
            <h3><a href="{% url 'lottery' %}">위키드</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="stars">
            <p>2019/08/09</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!--==========================
    Sponsors Section
  ============================-->
  <section id="supporters" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>Sponsors</h2>
      </div>

      <div class="row no-gutters supporters-wrap clearfix">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/1.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/2.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/5.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/6.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/7.png' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'img/supporters/8.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>

  </section>
</main>
{% endblock content %}
