{% extends 'layout.html' %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
<!--==========================
    Buy Ticket Section
  ============================-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<section id="buy-tickets" class="section-with-bg wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <br><br>
      <h2>포춘티켓 신청</h2>
      <p>원하는 가격과 시간을 확인하고 알맞은 티켓으로 응모해주세요.</p>
    </div>

    <div class="row">
      {% for fortune in fortune.all %}
      <div class="col-lg-4" id="text{{ fortune.id }}">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{ fortune.date }}</h5>
            <h6 class="card-price text-center">{{ fortune.starttime }} </h6>
            <input type="hidden" id="hide{{ fortune.id }}" value="{{ fortune.calcuatetime }} " />
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span>가격 : {{ fortune.price }} 원</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>티켓 한도 : {{ fortune.number }} 명</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>응모 마감 : {{ fortune.finishtime }} </li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>남은시간 : <span style="color: #f82249"
                  id="timer{{ fortune.id }}"></span> </<span>
            </ul>
            <hr>
            <div class="text-center">
              <button type="button" id="btn{{ fortune.id }}" class="btn" data-toggle="modal"
                data-target="#buy-ticket-modal" data-ticket-type="standard-access">응모하기</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script>

      $(document).ready(function () {
          tid1 = setInterval('msg_time1()', 1000);
          tid2 = setInterval('msg_time2()', 1000);
          tid3 = setInterval('msg_time3()', 1000);
        });

      function msg_time1() {
        var stDate = new Date().getTime();
        var time = Date.now();
        var value = $('#hide1').val();
        var edDate = new Date(value).getTime(); // 종료날짜
        var RemainDate = edDate - stDate;
        var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);

        m = hours + ":" + miniutes + ":" + seconds; // 남은 시간 text형태로 변경

        if( Math.floor(time/10000) == Math.floor(edDate/10000)){
          location.href="http://127.0.0.1:8000/send?id=1";
        }
        document.all.timer1.innerHTML = m; // div 영역에 보여줌 

        if (RemainDate < 0) {
          // 시간이 종료 되었으면..
          flag1 = false;
          clearInterval(tid1);
          $("#text1").css("color", "#c0c0c0");
          $("#btn1").css("display", "none");
          document.all.timer1.innerHTML = "응모 종료"; // 타이머 해제
        } else {
          RemainDate = RemainDate - 1000; // 남은시간 -1초
        }
      }

      function msg_time2() {
        var stDate = new Date().getTime();
        var value = $('#hide2').val();
        var edDate = new Date(value).getTime(); // 종료날짜
        var RemainDate = edDate - stDate;
        var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);

        m = hours + ":" + miniutes + ":" + seconds; // 남은 시간 text형태로 변경

        document.all.timer2.innerHTML = m; // div 영역에 보여줌 

        if (RemainDate < 0) {
          flag2 = false;

          // 시간이 종료 되었으면..
          $("#text2").css("color", "#c0c0c0");
          $("#btn2").css("display", "none");

          clearInterval(tid2);
          document.all.timer2.innerHTML = "0:0:0"; // 타이머 해제
        } else {
          RemainDate = RemainDate - 1000; // 남은시간 -1초
        }
      }

      function msg_time3() {
        var stDate = new Date().getTime();
        var value = $('#hide3').val();
        var edDate = new Date(value).getTime(); // 종료날짜
        var RemainDate = edDate - stDate;
        var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + 24;
        var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);

        m = hours + ":" + miniutes + ":" + seconds; // 남은 시간 text형태로 변경

        document.all.timer3.innerHTML = m; // div 영역에 보여줌 

        if (RemainDate < 0) {
          // 시간이 종료 되었으면..
          flag3 = false;

          $("#text3").css("color", "#c0c0c0");
          $("#btn3").css("display", "none");
          clearInterval(tid3); // 타이머 해제
        } else {
          RemainDate = RemainDate - 1000; // 남은시간 -1초
        }
      }
    </script>
<h1 id="test1"></h1>
<h1 id="test2"></h1>

    <!-- Modal Order Form -->
    <div id="buy-ticket-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">포춘티켓 응모</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="#">
              <div class="form-group">
                <input type="text" class="form-control" name="your-name" placeholder="이름">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="your-email" placeholder="연락처">
              </div>
              <div class="form-group">
                <select id="ticket-type" name="ticket-type" class="form-control">
                  <option value="">-- 티켓 개수 --</option>
                  <option value="pro-access">1</option>
                  <option value="standard-access">2</option>
                </select>
              </div>
              {% if user.is_authenticated %}
              <div class="text-center">
                <button type="submit" class="btn"><a href="{% url 'enroll' %}?email={{ user.email }}" target="_blank"
                    class="link-white" style="color:#ffffff; text-decoration:none;">응모하기</a></button>
              </div>
              {% else %}
              <div class="text-center">
                <button type="submit" class="btn"><a href="{% provider_login_url 'kakao' %}" target="_blank"
                    class="link-white" style="color:#ffffff; text-decoration:none;">응모하기</a></button>
              </div>
              {% endif %}
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>

{% endblock content %}